{% extends 'authenticate/base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form action="" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          value="Submit"
        >
          Sign in
        </button>
      </form>
    </main>
  </body>
</html>

{% endblock %}
